# SciKit Learn Preprocessing Overview

In [8]:
import numpy as np

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
data = np.random.randint(0,100,(10,2))

In [11]:
data

array([[20, 74],
       [59, 98],
       [33, 95],
       [48, 16],
       [15, 17],
       [90, 64],
       [34, 84],
       [87, 81],
       [31, 44],
       [55, 51]])

In [12]:
scaler_model = MinMaxScaler()

In [13]:
scaler_model.fit(data)

/Users/epinyoanun/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [14]:
scaler_model.transform(data)

array([[ 0.06666667,  0.70731707],
       [ 0.58666667,  1.        ],
       [ 0.24      ,  0.96341463],
       [ 0.44      ,  0.        ],
       [ 0.        ,  0.01219512],
       [ 1.        ,  0.58536585],
       [ 0.25333333,  0.82926829],
       [ 0.96      ,  0.79268293],
       [ 0.21333333,  0.34146341],
       [ 0.53333333,  0.42682927]])

In [15]:
# In one step
result = scaler_model.fit_transform(data)
# but normally we fit 'train data'
#  ```scaler_model.fit(data)```
# then transform 'test data'
#  ```scaler_model.transform(data)```
# so the

/Users/epinyoanun/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [18]:
result

array([[ 0.59302326,  1.        ],
       [ 0.73255814,  0.87234043],
       [ 0.        ,  0.64893617],
       [ 0.91860465,  0.        ],
       [ 0.84883721,  0.03191489],
       [ 0.22093023,  0.58510638],
       [ 0.77906977,  0.43617021],
       [ 0.23255814,  0.32978723],
       [ 1.        ,  0.20212766],
       [ 0.19767442,  0.5       ]])

In [17]:
import pandas as pd

In [18]:
data = pd.DataFrame(
    data=np.random.randint(0,101,(50,4)),
    columns=['f1','f2','f3','label']
)

In [19]:
data.head()

   f1  f2  f3  label
0  34  33  95     65
1  60  60  60     84
2  47  50  87     31
3  42  92  13     89
4  15   8   8     10

In [22]:
x = data[['f1','f2','f3']] # Alternatively x = data.drop('label',axis=1)
y = data['label']

In [23]:
from sklearn.model_selection import train_test_split

In [31]:
X_train, 
X_test, 
y_train, 
y_test = train_test_split(x,y,test_size=0.3,random_state=101)
# random_state :: random seed

In [32]:
X_train.shape

(35, 3)

In [29]:
X_test.shape

(15, 3)

In [30]:
y_train.shape

(35,)

In [31]:
y_test.shape

(15,)

## Great Job!