In [3]:
from fastai.imports import *
from fastai.structured import *
import pandas as pd

In [81]:
data = pd.DataFrame(
    data={'f1':['high','low','medium','low'], 
          'f2':[pd.to_datetime('2013-11-16'),
                pd.to_datetime('2007-12-23'),
                pd.to_datetime('2011-04-13'),
                pd.to_datetime('2005-08-04')]},
    columns=['f1', 'f2']
)
data.head()

       f1         f2
0    high 2013-11-16
1     low 2007-12-23
2  medium 2011-04-13
3     low 2005-08-04

### Change column string to category

In [82]:
train_cats(data)
data.f1 # see dtype: category, not string anymore

0      high
1       low
2    medium
3       low
Name: f1, dtype: category
Categories (3, object): [high < low < medium]

In [83]:
data.f1.cat.categories

Index(['high', 'low', 'medium'], dtype='object')

In [84]:
data.f1.cat.codes

0    0
1    1
2    2
3    1
dtype: int8

##### set category to sequencial number because 
'high, low, medium' will be assigned as 1,3,2
it's better to assign 1,2,3 to category

In [86]:
data.f1.cat.set_categories(['high', 'medium', 'low'], ordered=True, inplace=True)
data

       f1         f2
0    high 2013-11-16
1     low 2007-12-23
2  medium 2011-04-13
3     low 2005-08-04

### add date

In [56]:
add_datepart(data, 'f2')

In [58]:
data.T

                             0           1           2           3
f1                        high         low      medium         low
f2Year                    2013        2007        2011        2005
f2Month                     11          12           4           8
f2Week                      46          51          15          31
f2Day                       16          23          13           4
f2Dayofweek                  5           6           2           3
f2Dayofyear                320         357         103         216
f2Is_month_end           False       False       False       False
f2Is_month_start         False       False       False       False
f2Is_quarter_end         False       False       False       False
f2Is_quarter_start       False       False       False       False
f2Is_year_end            False       False       False       False
f2Is_year_start          False       False       False       False
f2Elapsed           1384560000  1198368000  1302652800  1123113600

In [79]:
df = proc_df(data, 'f1')
df

AttributeError: Can only use .cat accessor with a 'category' dtype

In [74]:
??proc_df